.header {
  position: fixed;
  top: 0;
  left: 174px;
  z-index: 2;
  max-width: 1600px;
  margin: 0 auto;
  width: 100%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
}
.header .header__content {
  display: flex;
}
.header .header__logo {
  margin-right: 194px;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../fonts/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url("../fonts/Montserrat-ExtraBold.ttf");
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("../fonts/Montserrat-Medium.ttf");
}
p, li, h1, h2, h3, h4, h5, ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.btn {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 12px 22px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 24px;
  display: block;
  transition: 0.3s;
}
.btn:hover {
  color: #1E1E1E;
  background: #FFFFFF;
}

.navigation {
  padding-top: 22px;
}
.navigation .navigation__list {
  display: flex;
  align-items: center;
}
.navigation .navigation__list .navigation__item {
  display: flex;
  margin-right: 24px;
}
.navigation .navigation__list .navigation__item:last-child {
  margin-right: 0;
}

.footer {
  background: #1E1E1E;
}
.footer .footer-container {
  border-top: 1px solid #A1A1A1;
  max-width: 1600px;
  margin: 0 auto;
  padding: 64px 0;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.footer .footer-container .footer-rules {
  font-size: 14px;
  line-height: 150%;
}
.footer .footer-container .footer-rules .footer-rules__container {
  display: flex;
  align-items: flex-end;
  height: 100%;
}
.footer .footer-container .footer-rules .footer-rules__container a {
  color: #ffffff;
  text-decoration: underline;
  vertical-align: bottom;
}
.footer .footer-container .footer-nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.footer .footer-container .footer-nav ul li a {
  color: #A1A1A1;
  transition: 0.3s;
}
.footer .footer-container .footer-nav ul li a:hover {
  color: #ffffff;
}
.footer .footer-container .footer-media {
  color: #A1A1A1;
  padding-right: 116px;
}
.footer .footer-container .footer-media ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.footer .footer-container .footer-media ul li a {
  color: #A1A1A1;
  transition: 0.3s;
}
.footer .footer-container .footer-media ul li a:hover {
  color: #EC671B;
}

.mb-2 {
  margin-bottom: 20px;
}

.location {
  display: flex;
  padding-top: 22px;
}
.location .location__block {
  margin-right: 73px;
}
.location .location__block .location__item {
  margin-bottom: 14px;
}
.location .location__block .location__item a {
  transition: 0.3s;
}
.location .location__block .location__item a:hover {
  color: #EC671B;
}
.location .location__block .location__item:last-child {
  margin-bottom: 0;
}
.location .location__block:last-child {
  margin-right: 0;
}

.wrapper {
  min-height: 100vh;
  box-sizing: border-box;
  background: #1E1E1E;
  display: grid;
  grid-template-rows: 1fr auto;
}

@media screen and (max-width: 1440px) {
  .header {
    left: 0;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }

  .footer {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 1366px) {
  .header .header__logo {
    margin-right: 40px;
  }
}
@media screen and (max-width: 1024px) {
  .header .navigation .navigation__list {
    flex-direction: column;
    align-items: flex-end;
  }
  .header .navigation .navigation__list .navigation__item {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .header .navigation .navigation__list .navigation__item:last-child {
    margin-bottom: 0;
  }

  .footer .footer-container .footer-media {
    padding-right: 0;
  }
}
@media screen and (max-width: 768px) {
  .location {
    flex-direction: column;
  }
  .location .location__block {
    margin-right: 0px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 425px) {
  .header .header__logo {
    margin-right: 10px;
  }

  .footer .footer-container {
    flex-direction: column;
  }
  .footer .footer-container .footer-rules, .footer .footer-container .footer-nav, .footer .footer-container .footer-media {
    margin: 20px 0;
  }
  .footer .footer-container .footer-nav, .footer .footer-container .footer-media {
    height: 100px;
  }
  .footer .footer-container .footer-media {
    margin-bottom: 0;
  }

  .location {
    position: absolute;
    top: 130px;
    left: -260px;
  }
}
.main-head {
  position: relative;
  height: 715px;
}

.main-container {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 235px;
  box-sizing: border-box;
}

.main-head__bg {
  position: absolute;
  left: 50%;
  top: 0;
  height: 100%;
  width: 50%;
}
.main-head__bg img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.main-head__content {
  position: relative;
  z-index: 1;
}
.main-head__content .head-event {
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 120%;
  color: rgba(255, 255, 255, 0.3);
  margin-bottom: 40px;
}
.main-head__content .head-event span {
  color: rgba(255, 255, 255, 0.7);
}
.main-head__content .head-date {
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 120%;
  color: #EC671B;
  margin-bottom: 15px;
}
.main-head__content .head-title {
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  max-width: 1000px;
}

.main-description {
  position: relative;
  z-index: 2;
  margin-top: -178px;
  background: #FFFFFF;
  font-size: 18px;
  line-height: 150%;
  color: #1E1E1E;
  padding-top: 40px;
  padding-bottom: 1px;
  border-radius: 60px;
}

.main-description__content-container {
  max-width: 1048px;
  margin: 0 auto;
}

.main-description__text {
  margin: 80px 0;
}

.main-description__review {
  background: #EEEEEE;
  padding: 60px 0;
  margin: 64px 0;
}
.main-description__review .main-description__review_dots {
  position: absolute;
}

.main-description__content-container {
  position: relative;
}
.main-description__content-container .dots {
  position: absolute;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 110px;
  line-height: 25%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #409AD4;
  top: 0;
  left: -100px;
}
.main-description__content-container .creator {
  display: flex;
  align-items: center;
  margin-top: 40px;
}
.main-description__content-container .creator .creator__image {
  margin-right: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.main-description__content-container .creator .creator__info_title {
  font-family: "Montserrat-SemiBold", sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 160%;
  letter-spacing: 0.06em;
}
.main-description__content-container .creator .creator__info_position {
  font-size: 18px;
  line-height: 150%;
}

.main-news {
  max-width: 1600px;
  margin: 0 auto;
  margin-bottom: 180px;
  margin-top: 230px;
}
.main-news .main-news__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
.main-news .main-news__top .main-news__top_title {
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.main-news .main-news__top .main-news__top_button a {
  padding-left: 42px;
  padding-right: 42px;
}
.main-news .main-news__blocks {
  display: flex;
  flex-wrap: wrap;
  margin-right: -20px;
  margin-left: -20px;
}
.main-news .main-news__blocks .main-block {
  width: 504px;
  height: 650px;
  margin: 0 20px 80px 20px;
  position: relative;
  overflow: hidden;
}
.main-news .main-news__blocks .main-block .main-block__content {
  transition: 0.5s;
  z-index: 2;
  position: relative;
}
.main-news .main-news__blocks .main-block .main-block__about {
  font-size: 14px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  text-overflow: ellipsis;
  transition: 0.5s;
}
.main-news .main-news__blocks .main-block:hover .main-block__image .main-block__image_gradient {
  top: 0;
}
.main-news .main-news__blocks .main-block:hover .main-block__content {
  margin-top: -110px;
}
.main-news .main-news__blocks .main-block:hover .main-block__about {
  color: white;
}
.main-news .main-news__blocks .main-block .main-block__image {
  border-radius: 14px;
  height: 504px;
  width: 504px;
  margin-bottom: 30px;
  position: relative;
  transition: 0.5s;
  overflow: hidden;
}
.main-news .main-news__blocks .main-block .main-block__image .main-block__image_gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
  transition: 0.3s;
  background: linear-gradient(180deg, rgba(30, 30, 30, 0) 11.46%, #1e1e1e 84.9%);
}
.main-news .main-news__blocks .main-block .main-block__image img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}
.main-news .main-news__blocks .main-block .main-block__date {
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 120%;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 18px;
}
.main-news .main-news__blocks .main-block .main-block__description {
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 18px;
  line-height: 150%;
  height: 81px;
  text-overflow: clip;
}

@media screen and (max-width: 1440px) {
  .main-head__content {
    padding-left: 20px;
  }

  .main-news {
    padding-left: 20px;
    padding-right: 20px;
  }

  .main-news .main-news__blocks .main-block .main-block__image {
    width: 100%;
    height: 440px;
  }

  .main-news .main-news__blocks .main-block {
    width: 440px;
    height: 583px;
  }
}
@media screen and (max-width: 1366px) {
  .main-news .main-news__blocks .main-block .main-block__image {
    height: 415px;
  }

  .main-news .main-news__blocks .main-block {
    width: 415px;
  }
}
@media screen and (max-width: 1024px) {
  .main-news .main-news__blocks .main-block .main-block__image {
    height: 301px;
  }

  .main-news .main-news__blocks .main-block {
    width: 301px;
    height: 470px;
  }

  .main-news .main-news__blocks .main-block .main-block__about {
    height: 145px;
  }

  .main-news .main-news__blocks .main-block:hover .main-block__content {
    margin-top: -170px;
  }

  .main-description__text, .main-description__review {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 768px) {
  .main-news .main-news__blocks .main-block {
    width: 344px;
    height: 470px;
  }
}
@media screen and (max-width: 425px) {
  .main-news .main-news__blocks .main-block {
    width: 100%;
    height: 470px;
  }

  .main-description__content-container .creator {
    flex-wrap: wrap;
  }

  .main-description {
    margin-top: -130px;
  }

  .main-news .main-news__top {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .main-news .main-news__top .main-news__top_title {
    margin-bottom: 20px;
  }
}

/*# sourceMappingURL=main.css.map */
